<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>#{get 'title' /}</title>
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">
<link rel="stylesheet"
	href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

	

	#{ifErrors} 
		#{errors}
			<li style="color: #c00">${error}</li>
		 #{/errors} 
	 #{/ifErrors}
	
	#{doLayout /}

	<div id="bottom">#{include 'bottom.html'/}</div>

	<script
		src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script
		src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	#{get 'moreScripts' /}
</body>
</html>
